
{{#description}}
/** {{description}} */
{{/description}}
class {{ name }} {{#parent}}: {{ name }}{{/parent}} {
    {{#enums}}
    enum {{enumName}} { {{#enums}}
        case {{name}} = "{{value}}"{{/enums}}
    }{{/enums}}
    {{#properties}}
    {{#description}}
    /** {{description}}  */{{/description}}
    let {{name}}: {{type}}{{^required}}?{{/required}}{{/properties}}

    init({{#each(properties)}}{{name}}: {{type}}{{#required}}? = nil{{/required}}{{^@last}}, {{/}}{{/}}) { {{#properties}}
        self.{{name}} = {{name}}{{/properties}}
    }
}
