
public struct Request {
    let method:String
    let path:String
    let params:[String: Any]
    let securit:RequestSecurity?
}

public struct RequestSecurity {
    let name:String
    let scope:String
}

public enum API {
{{#tags}}
    public enum {{upperCamelCase(tag)}} {}{{/tags}}
}
