{
   "swagger":"2.0",
   "info":{
      "version":"1",
      "title":"Transport for London Unified API"
   },
   "host":"api.tfl.gov.uk",
   "schemes":[
      "https"
   ],
   "paths":{
      "/AccidentStats/{year}":{
         "get":{
            "tags":[
               "AccidentStats"
            ],
            "summary":"Gets all accident details for accidents occuring in the specified year",
            "operationId":"AccidentStats_Get",
            "consumes":[

            ],
            "produces":[
               "application/json",
               "text/json",
               "application/xml",
               "text/xml"
            ],
            "parameters":[
               {
                  "name":"year",
                  "in":"path",
                  "description":"The year for which to filter the accidents on.",
                  "required":true,
                  "type":"integer",
                  "format":"int32"
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "type":"array",
                     "items":{
                        "$ref":"#/definitions/AccidentDetail"
                     }
                  }
               }
            },
            "deprecated":false
         }
      },
      "/AirQuality":{
         "get":{
            "tags":[
               "AirQuality"
            ],
            "summary":"Gets air quality data feed",
            "operationId":"AirQuality_Get",
            "consumes":[

            ],
            "produces":[
               "application/json",
               "text/json",
               "application/xml",
               "text/xml"
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "$ref":"#/definitions/Object"
                  }
               }
            },
            "deprecated":false
         }
      },
      "/BikePoint":{
         "get":{
            "tags":[
               "BikePoint"
            ],
            "summary":"Gets all bike point locations. The Place object has an addtionalProperties array which contains the nbBikes, nbDocks and nbSpaces\r\n            numbers which give the status of the BikePoint. A mismatch in these numbers i.e. nbDocks - (nbBikes + nbSpaces) != 0 indicates broken docks.",
            "operationId":"BikePoint_GetAll",
            "consumes":[

            ],
            "produces":[
               "application/json",
               "text/json",
               "application/xml",
               "text/xml"
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "type":"array",
                     "items":{
                        "$ref":"#/definitions/Place"
                     }
                  }
               }
            },
            "deprecated":false
         }
      },
      "/BikePoint/{id}":{
         "get":{
            "tags":[
               "BikePoint"
            ],
            "summary":"Gets the bike point with the given id.",
            "operationId":"BikePoint_Get",
            "consumes":[

            ],
            "produces":[
               "application/json",
               "text/json",
               "application/xml",
               "text/xml"
            ],
            "parameters":[
               {
                  "name":"id",
                  "in":"path",
                  "description":"A bike point id (a list of ids can be obtained from the above BikePoint call)",
                  "required":true,
                  "type":"string"
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "$ref":"#/definitions/Place"
                  }
               }
            },
            "deprecated":false
         }
      },
      "/BikePoint/Search":{
         "get":{
            "tags":[
               "BikePoint"
            ],
            "summary":"Search for bike stations by their name, a bike point's name often contains information about the name of the street\r\n            or nearby landmarks, for example. Note that the search result does not contain the PlaceProperties i.e. the status\r\n            or occupancy of the BikePoint, to get that information you should retrieve the BikePoint by its id on /BikePoint/id.",
            "operationId":"BikePoint_Search",
            "consumes":[

            ],
            "produces":[
               "application/json",
               "text/json",
               "application/xml",
               "text/xml"
            ],
            "parameters":[
               {
                  "name":"query",
                  "in":"query",
                  "description":"The search term e.g. \"St. James\"",
                  "required":true,
                  "type":"string"
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "type":"array",
                     "items":{
                        "$ref":"#/definitions/Place"
                     }
                  }
               }
            },
            "deprecated":false
         }
      },
      "/Cabwise/search":{
         "get":{
            "tags":[
               "Cabwise"
            ],
            "summary":"Gets taxis and minicabs contact information",
            "operationId":"Cabwise_Get",
            "consumes":[

            ],
            "produces":[
               "application/json",
               "text/json",
               "application/xml",
               "text/xml"
            ],
            "parameters":[
               {
                  "name":"lat",
                  "in":"query",
                  "description":"Latitude",
                  "required":true,
                  "type":"number",
                  "format":"double"
               },
               {
                  "name":"lon",
                  "in":"query",
                  "description":"Longitude",
                  "required":true,
                  "type":"number",
                  "format":"double"
               },
               {
                  "name":"optype",
                  "in":"query",
                  "description":"Operator Type e.g Minicab, Executive, Limousine",
                  "required":false,
                  "type":"string"
               },
               {
                  "name":"wc",
                  "in":"query",
                  "description":"Wheelchair accessible",
                  "required":false,
                  "type":"string"
               },
               {
                  "name":"radius",
                  "in":"query",
                  "description":"The radius of the bounding circle in metres",
                  "required":false,
                  "type":"number",
                  "format":"double"
               },
               {
                  "name":"name",
                  "in":"query",
                  "description":"Trading name of operating company",
                  "required":false,
                  "type":"string"
               },
               {
                  "name":"maxResults",
                  "in":"query",
                  "description":"An optional parameter to limit the number of results return. Default and maximum is 20.",
                  "required":false,
                  "type":"integer",
                  "format":"int32"
               },
               {
                  "name":"legacyFormat",
                  "in":"query",
                  "description":"Legacy Format",
                  "required":false,
                  "type":"boolean"
               },
               {
                  "name":"forceXml",
                  "in":"query",
                  "description":"Force Xml",
                  "required":false,
                  "type":"boolean"
               },
               {
                  "name":"twentyFourSevenOnly",
                  "in":"query",
                  "description":"Twenty Four Seven Only",
                  "required":false,
                  "type":"boolean"
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "$ref":"#/definitions/Object"
                  }
               }
            },
            "deprecated":false
         }
      },
      "/Journey/Meta/Modes":{
         "get":{
            "tags":[
               "Journey"
            ],
            "summary":"Gets a list of all of the available journey planner modes",
            "operationId":"Journey_Meta",
            "consumes":[

            ],
            "produces":[
               "application/json",
               "text/json",
               "application/xml",
               "text/xml"
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "type":"array",
                     "items":{
                        "$ref":"#/definitions/Mode"
                     }
                  }
               }
            },
            "deprecated":false
         }
      },
      "/Journey/JourneyResults/{from}/to/{to}":{
         "get":{
            "tags":[
               "Journey"
            ],
            "summary":"Perform a Journey Planner search from the parameters specified in simple types",
            "operationId":"Journey_JourneyResults",
            "consumes":[

            ],
            "produces":[
               "application/json",
               "text/json",
               "application/xml",
               "text/xml"
            ],
            "parameters":[
               {
                  "name":"from",
                  "in":"path",
                  "description":"Origin of the journey. Can be WGS84 coordinates expressed as \"lat,long\", a UK postcode, a Naptan (StopPoint) id, an ICS StopId, or a free-text string (will cause disambiguation unless it exactly matches a point of interest name).",
                  "required":true,
                  "type":"string"
               },
               {
                  "name":"to",
                  "in":"path",
                  "description":"Destination of the journey. Can be WGS84 coordinates expressed as \"lat,long\", a UK postcode, a Naptan (StopPoint) id, an ICS StopId, or a free-text string (will cause disambiguation unless it exactly matches a point of interest name).",
                  "required":true,
                  "type":"string"
               },
               {
                  "name":"via",
                  "in":"query",
                  "description":"Travel through point on the journey. Can be WGS84 coordinates expressed as \"lat,long\", a UK postcode, a Naptan (StopPoint) id, an ICS StopId, or a free-text string (will cause disambiguation unless it exactly matches a point of interest name).",
                  "required":false,
                  "type":"string"
               },
               {
                  "name":"nationalSearch",
                  "in":"query",
                  "description":"Does the journey cover stops outside London? eg. \"nationalSearch=true\"",
                  "required":false,
                  "type":"boolean"
               },
               {
                  "name":"date",
                  "in":"query",
                  "description":"The date must be in yyyyMMdd format",
                  "required":false,
                  "type":"string"
               },
               {
                  "name":"time",
                  "in":"query",
                  "description":"The time must be in HHmm format",
                  "required":false,
                  "type":"string"
               },
               {
                  "name":"timeIs",
                  "in":"query",
                  "description":"Does the time given relate to arrival or leaving time? Possible options: \"departing\" | \"arriving\"",
                  "required":false,
                  "type":"string",
                  "enum":[
                     "Arriving",
                     "Departing"
                  ]
               },
               {
                  "name":"journeyPreference",
                  "in":"query",
                  "description":"The journey preference eg possible options: \"leastinterchange\" | \"leasttime\" | \"leastwalking\"",
                  "required":false,
                  "type":"string",
                  "enum":[
                     "LeastInterchange",
                     "LeastTime",
                     "LeastWalking"
                  ]
               },
               {
                  "name":"mode",
                  "in":"query",
                  "description":"The mode must be a comma separated list of modes. eg possible options: \"public-bus,overground,train,tube,coach,dlr,cablecar,tram,river,walking,cycle\"",
                  "required":false,
                  "type":"array",
                  "items":{
                     "type":"string"
                  },
                  "collectionFormat":"multi"
               },
               {
                  "name":"accessibilityPreference",
                  "in":"query",
                  "description":"The accessibility preference must be a comma separated list eg. \"noSolidStairs,noEscalators,noElevators,stepFreeToVehicle,stepFreeToPlatform\"",
                  "required":false,
                  "type":"array",
                  "items":{
                     "type":"string",
                     "enum":[
                        "NoRequirements",
                        "NoSolidStairs",
                        "NoEscalators",
                        "NoElevators",
                        "StepFreeToVehicle",
                        "StepFreeToPlatform"
                     ]
                  },
                  "collectionFormat":"multi"
               },
               {
                  "name":"fromName",
                  "in":"query",
                  "description":"An optional name to associate with the origin of the journey in the results.",
                  "required":false,
                  "type":"string"
               },
               {
                  "name":"toName",
                  "in":"query",
                  "description":"An optional name to associate with the destination of the journey in the results.",
                  "required":false,
                  "type":"string"
               },
               {
                  "name":"viaName",
                  "in":"query",
                  "description":"An optional name to associate with the via point of the journey in the results.",
                  "required":false,
                  "type":"string"
               },
               {
                  "name":"maxTransferMinutes",
                  "in":"query",
                  "description":"The max walking time in minutes for transfer eg. \"120\"",
                  "required":false,
                  "type":"string"
               },
               {
                  "name":"maxWalkingMinutes",
                  "in":"query",
                  "description":"The max walking time in minutes for journeys eg. \"120\"",
                  "required":false,
                  "type":"string"
               },
               {
                  "name":"walkingSpeed",
                  "in":"query",
                  "description":"The walking speed. eg possible options: \"slow\" | \"average\" | \"fast\".",
                  "required":false,
                  "type":"string",
                  "enum":[
                     "Slow",
                     "Average",
                     "Fast"
                  ]
               },
               {
                  "name":"cyclePreference",
                  "in":"query",
                  "description":"The cycle preference. eg possible options: \"allTheWay\" | \"leaveAtStation\" | \"takeOnTransport\" | \"cycleHire\"",
                  "required":false,
                  "type":"string",
                  "enum":[
                     "None",
                     "LeaveAtStation",
                     "TakeOnTransport",
                     "AllTheWay",
                     "CycleHire"
                  ]
               },
               {
                  "name":"adjustment",
                  "in":"query",
                  "description":"Time adjustment command. eg possible options: \"TripFirst\" | \"TripLast\"",
                  "required":false,
                  "type":"string"
               },
               {
                  "name":"bikeProficiency",
                  "in":"query",
                  "description":"A comma separated list of cycling proficiency levels. eg possible options: \"easy,moderate,fast\"",
                  "required":false,
                  "type":"array",
                  "items":{
                     "type":"string",
                     "enum":[
                        "Easy",
                        "Moderate",
                        "Fast"
                     ]
                  },
                  "collectionFormat":"multi"
               },
               {
                  "name":"alternativeCycle",
                  "in":"query",
                  "description":"Option to determine whether to return alternative cycling journey",
                  "required":false,
                  "type":"boolean"
               },
               {
                  "name":"alternativeWalking",
                  "in":"query",
                  "description":"Option to determine whether to return alternative walking journey",
                  "required":false,
                  "type":"boolean"
               },
               {
                  "name":"applyHtmlMarkup",
                  "in":"query",
                  "description":"Flag to determine whether certain text (e.g. walking instructions) should be output with HTML tags or not.",
                  "required":false,
                  "type":"boolean"
               },
               {
                  "name":"useMultiModalCall",
                  "in":"query",
                  "description":"A boolean to indicate whether or not to return 3 public transport journeys, a bus journey, a cycle hire journey, a personal cycle journey and a walking journey",
                  "required":false,
                  "type":"boolean"
               },
               {
                  "name":"walkingOptimization",
                  "in":"query",
                  "description":"A boolean to indicate whether to optimize journeys using walking",
                  "required":false,
                  "type":"boolean"
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "$ref":"#/definitions/ItineraryResult"
                  }
               }
            },
            "deprecated":false
         }
      },
      "/Line/Meta/Modes":{
         "get":{
            "tags":[
               "Line"
            ],
            "summary":"Gets a list of valid modes",
            "operationId":"Line_MetaModes",
            "consumes":[

            ],
            "produces":[
               "application/json",
               "text/json",
               "application/xml",
               "text/xml"
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "type":"array",
                     "items":{
                        "$ref":"#/definitions/Mode"
                     }
                  }
               }
            },
            "deprecated":false
         }
      },
      "/Line/Meta/Severity":{
         "get":{
            "tags":[
               "Line"
            ],
            "summary":"Gets a list of valid severity codes",
            "operationId":"Line_MetaSeverity",
            "consumes":[

            ],
            "produces":[
               "application/json",
               "text/json",
               "application/xml",
               "text/xml"
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "type":"array",
                     "items":{
                        "$ref":"#/definitions/StatusSeverity"
                     }
                  }
               }
            },
            "deprecated":false
         }
      },
      "/Line/Meta/DisruptionCategories":{
         "get":{
            "tags":[
               "Line"
            ],
            "summary":"Gets a list of valid disruption categories",
            "operationId":"Line_MetaDisruptionCategories",
            "consumes":[

            ],
            "produces":[
               "application/json",
               "text/json",
               "application/xml",
               "text/xml"
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "type":"array",
                     "items":{
                        "type":"string"
                     }
                  }
               }
            },
            "deprecated":false
         }
      },
      "/Line/Meta/ServiceTypes":{
         "get":{
            "tags":[
               "Line"
            ],
            "summary":"Gets a list of valid ServiceTypes to filter on",
            "operationId":"Line_MetaServiceTypes",
            "consumes":[

            ],
            "produces":[
               "application/json",
               "text/json",
               "application/xml",
               "text/xml"
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "type":"array",
                     "items":{
                        "type":"string"
                     }
                  }
               }
            },
            "deprecated":false
         }
      },
      "/Line/{ids}":{
         "get":{
            "tags":[
               "Line"
            ],
            "summary":"Gets lines that match the specified line ids.",
            "operationId":"Line_Get",
            "consumes":[

            ],
            "produces":[
               "application/json",
               "text/json",
               "application/xml",
               "text/xml"
            ],
            "parameters":[
               {
                  "name":"ids",
                  "in":"path",
                  "description":"A comma-separated list of line ids e.g. victoria,circle,N133. Max. approx. 20 ids.",
                  "required":true,
                  "type":"array",
                  "items":{
                     "type":"string"
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "type":"array",
                     "items":{
                        "$ref":"#/definitions/Line"
                     }
                  }
               }
            },
            "deprecated":false
         }
      },
      "/Line/Mode/{modes}":{
         "get":{
            "tags":[
               "Line"
            ],
            "summary":"Gets lines that serve the given modes.",
            "operationId":"Line_GetByMode",
            "consumes":[

            ],
            "produces":[
               "application/json",
               "text/json",
               "application/xml",
               "text/xml"
            ],
            "parameters":[
               {
                  "name":"modes",
                  "in":"path",
                  "description":"A comma-separated list of modes e.g. tube,dlr",
                  "required":true,
                  "type":"array",
                  "items":{
                     "type":"string"
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "type":"array",
                     "items":{
                        "$ref":"#/definitions/Line"
                     }
                  }
               }
            },
            "deprecated":false
         }
      },
      "/Line/Route":{
         "get":{
            "tags":[
               "Line"
            ],
            "summary":"Get all valid routes for all lines, including the name and id of the originating and terminating stops for each route.",
            "operationId":"Line_Route",
            "consumes":[

            ],
            "produces":[
               "application/json",
               "text/json",
               "application/xml",
               "text/xml"
            ],
            "parameters":[
               {
                  "name":"serviceTypes",
                  "in":"query",
                  "description":"A comma seperated list of service types to filter on. Supported values: Regular, Night. Defaulted to 'Regular' if not specified",
                  "required":false,
                  "type":"array",
                  "items":{
                     "type":"string",
                     "enum":[
                        "Regular",
                        "Night"
                     ]
                  },
                  "collectionFormat":"multi"
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "type":"array",
                     "items":{
                        "$ref":"#/definitions/Line"
                     }
                  }
               }
            },
            "deprecated":false
         }
      },
      "/Line/{ids}/Route":{
         "get":{
            "tags":[
               "Line"
            ],
            "summary":"Get all valid routes for given line ids, including the name and id of the originating and terminating stops for each route.",
            "operationId":"Line_LineRoutesByIds",
            "consumes":[

            ],
            "produces":[
               "application/json",
               "text/json",
               "application/xml",
               "text/xml"
            ],
            "parameters":[
               {
                  "name":"ids",
                  "in":"path",
                  "description":"A comma-separated list of line ids e.g. victoria,circle,N133. Max. approx. 20 ids.",
                  "required":true,
                  "type":"array",
                  "items":{
                     "type":"string"
                  }
               },
               {
                  "name":"serviceTypes",
                  "in":"query",
                  "description":"A comma seperated list of service types to filter on. Supported values: Regular, Night. Defaulted to 'Regular' if not specified",
                  "required":false,
                  "type":"array",
                  "items":{
                     "type":"string",
                     "enum":[
                        "Regular",
                        "Night"
                     ]
                  },
                  "collectionFormat":"multi"
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "type":"array",
                     "items":{
                        "$ref":"#/definitions/Line"
                     }
                  }
               }
            },
            "deprecated":false
         }
      },
      "/Line/Mode/{modes}/Route":{
         "get":{
            "tags":[
               "Line"
            ],
            "summary":"Gets all lines and their valid routes for given modes, including the name and id of the originating and terminating stops for each route",
            "operationId":"Line_RouteByMode",
            "consumes":[

            ],
            "produces":[
               "application/json",
               "text/json",
               "application/xml",
               "text/xml"
            ],
            "parameters":[
               {
                  "name":"modes",
                  "in":"path",
                  "description":"A comma-separated list of modes e.g. tube,dlr",
                  "required":true,
                  "type":"array",
                  "items":{
                     "type":"string"
                  }
               },
               {
                  "name":"serviceTypes",
                  "in":"query",
                  "description":"A comma seperated list of service types to filter on. Supported values: Regular, Night. Defaulted to 'Regular' if not specified",
                  "required":false,
                  "type":"array",
                  "items":{
                     "type":"string",
                     "enum":[
                        "Regular",
                        "Night"
                     ]
                  },
                  "collectionFormat":"multi"
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "type":"array",
                     "items":{
                        "$ref":"#/definitions/Line"
                     }
                  }
               }
            },
            "deprecated":false
         }
      },
      "/Line/{id}/Route/Sequence/{direction}":{
         "get":{
            "tags":[
               "Line"
            ],
            "summary":"Gets all valid routes for given line id, including the sequence of stops on each route.",
            "operationId":"Line_RouteSequence",
            "consumes":[

            ],
            "produces":[
               "application/json",
               "text/json",
               "application/xml",
               "text/xml"
            ],
            "parameters":[
               {
                  "name":"id",
                  "in":"path",
                  "description":"A single line id e.g. victoria",
                  "required":true,
                  "type":"string"
               },
               {
                  "name":"direction",
                  "in":"path",
                  "description":"The direction of travel. Can be inbound or outbound.",
                  "required":true,
                  "type":"string",
                  "enum":[
                     "inbound",
                     "outbound",
                     "all"
                  ]
               },
               {
                  "name":"serviceTypes",
                  "in":"query",
                  "description":"A comma seperated list of service types to filter on. Supported values: Regular, Night. Defaulted to 'Regular' if not specified",
                  "required":false,
                  "type":"array",
                  "items":{
                     "type":"string",
                     "enum":[
                        "Regular",
                        "Night"
                     ]
                  },
                  "collectionFormat":"multi"
               },
               {
                  "name":"excludeCrowding",
                  "in":"query",
                  "description":"That excludes crowding from line disruptions. Can be true or false.",
                  "required":false,
                  "type":"boolean"
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "$ref":"#/definitions/RouteSequence"
                  }
               }
            },
            "deprecated":false
         }
      },
      "/Line/{ids}/Status/{StartDate}/to/{EndDate}":{
         "get":{
            "tags":[
               "Line"
            ],
            "summary":"Gets the line status for given line ids during the provided dates e.g Minor Delays",
            "operationId":"Line_Status",
            "consumes":[

            ],
            "produces":[
               "application/json",
               "text/json",
               "application/xml",
               "text/xml"
            ],
            "parameters":[
               {
                  "name":"ids",
                  "in":"path",
                  "description":"A comma-separated list of line ids e.g. victoria,circle,N133. Max. approx. 20 ids.",
                  "required":true,
                  "type":"array",
                  "items":{
                     "type":"string"
                  }
               },
               {
                  "name":"detail",
                  "in":"query",
                  "description":"Include details of the disruptions that are causing the line status including the affected stops and routes",
                  "required":false,
                  "type":"boolean"
               },
               {
                  "name":"startDate",
                  "in":"query",
                  "required":true,
                  "type":"string"
               },
               {
                  "name":"endDate",
                  "in":"query",
                  "required":true,
                  "type":"string"
               },
               {
                  "name":"dateRange.startDate",
                  "in":"query",
                  "required":false,
                  "type":"string",
                  "format":"date-time"
               },
               {
                  "name":"dateRange.endDate",
                  "in":"query",
                  "required":false,
                  "type":"string",
                  "format":"date-time"
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "type":"array",
                     "items":{
                        "$ref":"#/definitions/Line"
                     }
                  }
               }
            },
            "deprecated":false
         }
      },
      "/Line/{ids}/Status":{
         "get":{
            "tags":[
               "Line"
            ],
            "summary":"Gets the line status of for given line ids e.g Minor Delays",
            "operationId":"Line_StatusByIds",
            "consumes":[

            ],
            "produces":[
               "application/json",
               "text/json",
               "application/xml",
               "text/xml"
            ],
            "parameters":[
               {
                  "name":"ids",
                  "in":"path",
                  "description":"A comma-separated list of line ids e.g. victoria,circle,N133. Max. approx. 20 ids.",
                  "required":true,
                  "type":"array",
                  "items":{
                     "type":"string"
                  }
               },
               {
                  "name":"detail",
                  "in":"query",
                  "description":"Include details of the disruptions that are causing the line status including the affected stops and routes",
                  "required":false,
                  "type":"boolean"
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "type":"array",
                     "items":{
                        "$ref":"#/definitions/Line"
                     }
                  }
               }
            },
            "deprecated":false
         }
      },
      "/Line/Search/{query}":{
         "get":{
            "tags":[
               "Line"
            ],
            "summary":"Search for lines or routes matching the query string",
            "operationId":"Line_Search",
            "consumes":[

            ],
            "produces":[
               "application/json",
               "text/json",
               "application/xml",
               "text/xml"
            ],
            "parameters":[
               {
                  "name":"query",
                  "in":"path",
                  "description":"Search term e.g victoria",
                  "required":true,
                  "type":"string"
               },
               {
                  "name":"modes",
                  "in":"query",
                  "description":"Optionally filter by the specified modes",
                  "required":false,
                  "type":"array",
                  "items":{
                     "type":"string"
                  },
                  "collectionFormat":"multi"
               },
               {
                  "name":"serviceTypes",
                  "in":"query",
                  "description":"A comma seperated list of service types to filter on. Supported values: Regular, Night. Defaulted to 'Regular' if not specified",
                  "required":false,
                  "type":"array",
                  "items":{
                     "type":"string",
                     "enum":[
                        "Regular",
                        "Night"
                     ]
                  },
                  "collectionFormat":"multi"
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "$ref":"#/definitions/RouteSearchResponse"
                  }
               }
            },
            "deprecated":false
         }
      },
      "/Line/Status/{severity}":{
         "get":{
            "tags":[
               "Line"
            ],
            "summary":"Gets the line status for all lines with a given severity\r\n            A list of valid severity codes can be obtained from a call to Line/Meta/Severity",
            "operationId":"Line_StatusBySeverity",
            "consumes":[

            ],
            "produces":[
               "application/json",
               "text/json",
               "application/xml",
               "text/xml"
            ],
            "parameters":[
               {
                  "name":"severity",
                  "in":"path",
                  "description":"The level of severity (eg: a number from 0 to 14)",
                  "required":true,
                  "type":"integer",
                  "format":"int32"
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "type":"array",
                     "items":{
                        "$ref":"#/definitions/Line"
                     }
                  }
               }
            },
            "deprecated":false
         }
      },
      "/Line/Mode/{modes}/Status":{
         "get":{
            "tags":[
               "Line"
            ],
            "summary":"Gets the line status of for all lines for the given modes",
            "operationId":"Line_StatusByMode",
            "consumes":[

            ],
            "produces":[
               "application/json",
               "text/json",
               "application/xml",
               "text/xml"
            ],
            "parameters":[
               {
                  "name":"modes",
                  "in":"path",
                  "description":"A comma-separated list of modes to filter by. e.g. tube,dlr",
                  "required":true,
                  "type":"array",
                  "items":{
                     "type":"string"
                  }
               },
               {
                  "name":"detail",
                  "in":"query",
                  "description":"Include details of the disruptions that are causing the line status including the affected stops and routes",
                  "required":false,
                  "type":"boolean"
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "type":"array",
                     "items":{
                        "$ref":"#/definitions/Line"
                     }
                  }
               }
            },
            "deprecated":false
         }
      },
      "/Line/{id}/StopPoints":{
         "get":{
            "tags":[
               "Line"
            ],
            "summary":"Gets a list of the stations that serve the given line id",
            "operationId":"Line_StopPoints",
            "consumes":[

            ],
            "produces":[
               "application/json",
               "text/json",
               "application/xml",
               "text/xml"
            ],
            "parameters":[
               {
                  "name":"id",
                  "in":"path",
                  "description":"A single line id e.g. victoria",
                  "required":true,
                  "type":"string"
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "type":"array",
                     "items":{
                        "$ref":"#/definitions/StopPoint"
                     }
                  }
               }
            },
            "deprecated":false
         }
      },
      "/Line/{id}/Timetable/{fromStopPointId}":{
         "get":{
            "tags":[
               "Line"
            ],
            "summary":"Gets the timetable for a specified station on the give line",
            "operationId":"Line_Timetable",
            "consumes":[

            ],
            "produces":[
               "application/json",
               "text/json",
               "application/xml",
               "text/xml"
            ],
            "parameters":[
               {
                  "name":"fromStopPointId",
                  "in":"path",
                  "description":"The originating station's stop point id (station naptan code e.g. 940GZZLUASL, you can use /StopPoint/Search/{query} endpoint to find a stop point id from a station name)",
                  "required":true,
                  "type":"string"
               },
               {
                  "name":"id",
                  "in":"path",
                  "description":"A single line id e.g. victoria",
                  "required":true,
                  "type":"string"
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "$ref":"#/definitions/TimetableResponse"
                  }
               }
            },
            "deprecated":false
         }
      },
      "/Line/{id}/Timetable/{fromStopPointId}/to/{toStopPointId}":{
         "get":{
            "tags":[
               "Line"
            ],
            "summary":"Gets the timetable for a specified station on the give line with specified destination",
            "operationId":"Line_TimetableTo",
            "consumes":[

            ],
            "produces":[
               "application/json",
               "text/json",
               "application/xml",
               "text/xml"
            ],
            "parameters":[
               {
                  "name":"fromStopPointId",
                  "in":"path",
                  "description":"The originating station's stop point id (station naptan code e.g. 940GZZLUASL, you can use /StopPoint/Search/{query} endpoint to find a stop point id from a station name)",
                  "required":true,
                  "type":"string"
               },
               {
                  "name":"id",
                  "in":"path",
                  "description":"A single line id e.g. victoria",
                  "required":true,
                  "type":"string"
               },
               {
                  "name":"toStopPointId",
                  "in":"path",
                  "description":"The destination stations's Naptan code",
                  "required":true,
                  "type":"string"
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "$ref":"#/definitions/TimetableResponse"
                  }
               }
            },
            "deprecated":false
         }
      },
      "/Line/{ids}/Disruption":{
         "get":{
            "tags":[
               "Line"
            ],
            "summary":"Get disruptions for the given line ids",
            "operationId":"Line_Disruption",
            "consumes":[

            ],
            "produces":[
               "application/json",
               "text/json",
               "application/xml",
               "text/xml"
            ],
            "parameters":[
               {
                  "name":"ids",
                  "in":"path",
                  "description":"A comma-separated list of line ids e.g. victoria,circle,N133. Max. approx. 20 ids.",
                  "required":true,
                  "type":"array",
                  "items":{
                     "type":"string"
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "type":"array",
                     "items":{
                        "$ref":"#/definitions/Disruption"
                     }
                  }
               }
            },
            "deprecated":false
         }
      },
      "/Line/Mode/{modes}/Disruption":{
         "get":{
            "tags":[
               "Line"
            ],
            "summary":"Get disruptions for all lines of the given modes.",
            "operationId":"Line_DisruptionByMode",
            "consumes":[

            ],
            "produces":[
               "application/json",
               "text/json",
               "application/xml",
               "text/xml"
            ],
            "parameters":[
               {
                  "name":"modes",
                  "in":"path",
                  "description":"A comma-separated list of modes e.g. tube,dlr",
                  "required":true,
                  "type":"array",
                  "items":{
                     "type":"string"
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "type":"array",
                     "items":{
                        "$ref":"#/definitions/Disruption"
                     }
                  }
               }
            },
            "deprecated":false
         }
      },
      "/Line/{ids}/Arrivals":{
         "get":{
            "tags":[
               "Line"
            ],
            "summary":"Get the list of arrival predictions for given line ids based at the given stop",
            "operationId":"getLineArrivals",
            "consumes":[

            ],
            "produces":[
               "application/json",
               "text/json",
               "application/xml",
               "text/xml"
            ],
            "parameters":[
               {
                  "name":"stopPointId",
                  "in":"query",
                  "description":"Id of stop to get arrival predictions for (station naptan code e.g. 940GZZLUASL, you can use /StopPoint/Search/{query} endpoint to find a stop point id from a station name)",
                  "required":true,
                  "type":"string"
               },
               {
                  "name":"ids",
                  "in":"path",
                  "description":"A comma-separated list of line ids e.g. victoria,circle,N133. Max. approx. 20 ids.",
                  "required":true,
                  "type":"array",
                  "items":{
                     "type":"string"
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "type":"array",
                     "items":{
                        "$ref":"#/definitions/Prediction"
                     }
                  }
               }
            },
            "deprecated":false
         }
      },
      "/Line/{ids}/Arrivals/{stopPointId}":{
         "get":{
            "tags":[
               "Line"
            ],
            "summary":"Get the list of arrival predictions for given line ids based at the given stop going in the procided direction",
            "operationId":"getLineArrivalsByPath",
            "consumes":[

            ],
            "produces":[
               "application/json",
               "text/json",
               "application/xml",
               "text/xml"
            ],
            "parameters":[
               {
                  "name":"stopPointId",
                  "in":"path",
                  "description":"Id of stop to get arrival predictions for (station naptan code e.g. 940GZZLUASL, you can use /StopPoint/Search/{query} endpoint to find a stop point id from a station name)",
                  "required":true,
                  "type":"string"
               },
               {
                  "name":"ids",
                  "in":"path",
                  "description":"A comma-separated list of line ids e.g. victoria,circle,N133. Max. approx. 20 ids.",
                  "required":true,
                  "type":"array",
                  "items":{
                     "type":"string"
                  }
               },
               {
                  "name":"direction",
                  "in":"query",
                  "description":"The direction of travel. Can be inbound or outbound",
                  "required":true,
                  "type":"string",
                  "enum":[
                     "inbound",
                     "outbound",
                     "all"
                  ]
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "type":"array",
                     "items":{
                        "$ref":"#/definitions/Prediction"
                     }
                  }
               }
            },
            "deprecated":false
         }
      },
      "/Mode/ActiveServiceTypes":{
         "get":{
            "tags":[
               "Mode"
            ],
            "summary":"Returns the service type active for a mode.\r\n            Currently only supports tube",
            "operationId":"Mode_GetActiveServiceTypes",
            "consumes":[

            ],
            "produces":[
               "application/json",
               "text/json",
               "application/xml",
               "text/xml"
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "type":"array",
                     "items":{
                        "$ref":"#/definitions/ActiveServiceType"
                     }
                  }
               }
            },
            "deprecated":false
         }
      },
      "/Mode/{mode}/Arrivals":{
         "get":{
            "tags":[
               "Mode"
            ],
            "summary":"Gets the next arrival predictions for all stops of a given mode",
            "operationId":"Mode_Arrivals",
            "consumes":[

            ],
            "produces":[
               "application/json",
               "text/json",
               "application/xml",
               "text/xml"
            ],
            "parameters":[
               {
                  "name":"mode",
                  "in":"path",
                  "description":"A mode name e.g. tube, dlr",
                  "required":true,
                  "type":"string"
               },
               {
                  "name":"count",
                  "in":"query",
                  "description":"A number of arrivals to return for each stop, -1 to return all available.",
                  "required":false,
                  "type":"integer",
                  "format":"int32"
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "type":"array",
                     "items":{
                        "$ref":"#/definitions/Prediction"
                     }
                  }
               }
            },
            "deprecated":false
         }
      },
      "/Occupancy/CarPark/{id}":{
         "get":{
            "tags":[
               "Occupancy"
            ],
            "summary":"Gets the occupancy for a car park with a given id",
            "operationId":"getOccupant",
            "consumes":[

            ],
            "produces":[
               "application/json",
               "text/json",
               "application/xml",
               "text/xml"
            ],
            "parameters":[
               {
                  "name":"id",
                  "in":"path",
                  "description":"",
                  "required":true,
                  "type":"string"
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "$ref":"#/definitions/CarParkOccupancy"
                  }
               }
            },
            "deprecated":false
         }
      },
      "/Occupancy/CarPark":{
         "get":{
            "tags":[
               "Occupancy"
            ],
            "summary":"Gets the occupancy for all car parks that have occupancy data",
            "operationId":"getOccupants",
            "consumes":[

            ],
            "produces":[
               "application/json",
               "text/json",
               "application/xml",
               "text/xml"
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "type":"array",
                     "items":{
                        "$ref":"#/definitions/CarParkOccupancy"
                     }
                  }
               }
            },
            "deprecated":false
         }
      },
      "/Place/Meta/Categories":{
         "get":{
            "tags":[
               "Place"
            ],
            "summary":"Gets a list of all of the available place property categories and keys.",
            "operationId":"Place_MetaCategories",
            "consumes":[

            ],
            "produces":[
               "application/json",
               "text/json",
               "application/xml",
               "text/xml"
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "type":"array",
                     "items":{
                        "$ref":"#/definitions/PlaceCategory"
                     }
                  }
               }
            },
            "deprecated":false
         }
      },
      "/Place/Meta/PlaceTypes":{
         "get":{
            "tags":[
               "Place"
            ],
            "summary":"Gets a list of the available types of Place.",
            "operationId":"Place_MetaPlaceTypes",
            "consumes":[

            ],
            "produces":[
               "application/json",
               "text/json",
               "application/xml",
               "text/xml"
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "type":"array",
                     "items":{
                        "$ref":"#/definitions/PlaceCategory"
                     }
                  }
               }
            },
            "deprecated":false
         }
      },
      "/Place/Address/Streets/{Postcode}":{
         "get":{
            "tags":[
               "Place"
            ],
            "summary":"Gets the set of streets associated with a post code.",
            "operationId":"Place_GetStreetsByPostCode",
            "consumes":[

            ],
            "produces":[
               "application/json",
               "text/json",
               "application/xml",
               "text/xml"
            ],
            "parameters":[
               {
                  "name":"postcode",
                  "in":"query",
                  "required":true,
                  "type":"string"
               },
               {
                  "name":"postcodeInput.postcode",
                  "in":"query",
                  "required":false,
                  "type":"string",
                  "pattern":"^(([gG][iI][rR] {0,}0[aA]{2})|((([a-pr-uwyzA-PR-UWYZ][a-hk-yA-HK-Y]?[0-9][0-9]?)|(([a-pr-uwyzA-PR-UWYZ][0-9][a-hjkstuwA-HJKSTUW])|([a-pr-uwyzA-PR-UWYZ][a-hk-yA-HK-Y][0-9][abehmnprv-yABEHMNPRV-Y]))) {0,}[0-9][abd-hjlnp-uw-zABD-HJLNP-UW-Z]{2}))$"
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "$ref":"#/definitions/Object"
                  }
               }
            },
            "deprecated":false
         }
      },
      "/Place/Type/{types}":{
         "get":{
            "tags":[
               "Place"
            ],
            "summary":"Gets all places of a given type",
            "operationId":"Place_GetByType",
            "consumes":[

            ],
            "produces":[
               "application/json",
               "text/json",
               "application/xml",
               "text/xml"
            ],
            "parameters":[
               {
                  "name":"types",
                  "in":"path",
                  "description":"A comma-separated list of the types to return. Max. approx 12 types.\r\n            A valid list of place types can be obtained from the /Place/Meta/placeTypes endpoint.",
                  "required":true,
                  "type":"array",
                  "items":{
                     "type":"string"
                  }
               },
               {
                  "name":"activeOnly",
                  "in":"query",
                  "description":"An optional parameter to limit the results to active records only (Currently only the 'VariableMessageSign' place type is supported)",
                  "required":false,
                  "type":"boolean"
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "type":"array",
                     "items":{
                        "$ref":"#/definitions/Place"
                     }
                  }
               }
            },
            "deprecated":false
         }
      },
      "/Place/{id}":{
         "get":{
            "tags":[
               "Place"
            ],
            "summary":"Gets the place with the given id.",
            "operationId":"Place_Get",
            "consumes":[

            ],
            "produces":[
               "application/json",
               "text/json",
               "application/xml",
               "text/xml"
            ],
            "parameters":[
               {
                  "name":"id",
                  "in":"path",
                  "description":"The id of the place, you can use the /Place/Types/{types} endpoint to get a list of places for a given type including their ids",
                  "required":true,
                  "type":"string"
               },
               {
                  "name":"includeChildren",
                  "in":"query",
                  "description":"Defaults to false. If true child places e.g. individual charging stations at a charge point while be included, otherwise just the URLs of any child places will be returned",
                  "required":false,
                  "type":"boolean"
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "type":"array",
                     "items":{
                        "$ref":"#/definitions/Place"
                     }
                  }
               }
            },
            "deprecated":false
         }
      },
      "/Place":{
         "get":{
            "tags":[
               "Place"
            ],
            "summary":"Gets the places that lie within the bounding box defined by the lat/lon of its north-west and south-east corners. Optionally filters\r\n            on type and can strip properties for a smaller payload.",
            "operationId":"Place_GetByGeoBox",
            "consumes":[

            ],
            "produces":[
               "application/json",
               "text/json",
               "application/xml",
               "text/xml"
            ],
            "parameters":[
               {
                  "name":"categories",
                  "in":"query",
                  "description":"an optional list of comma separated property categories to return in the Place's property bag. If null or empty, all categories of property are returned. Pass the keyword \"none\" to return no properties (a valid list of categories can be obtained from the /Place/Meta/categories endpoint)",
                  "required":false,
                  "type":"array",
                  "items":{
                     "type":"string"
                  },
                  "collectionFormat":"multi"
               },
               {
                  "name":"includeChildren",
                  "in":"query",
                  "description":"Defaults to false. If true child places e.g. individual charging stations at a charge point while be included, otherwise just the URLs of any child places will be returned",
                  "required":false,
                  "type":"boolean"
               },
               {
                  "name":"type",
                  "in":"query",
                  "description":"place types to filter on, or null to return all types",
                  "required":false,
                  "type":"array",
                  "items":{
                     "type":"string"
                  },
                  "collectionFormat":"multi"
               },
               {
                  "name":"activeOnly",
                  "in":"query",
                  "description":"An optional parameter to limit the results to active records only (Currently only the 'VariableMessageSign' place type is supported)",
                  "required":false,
                  "type":"boolean"
               },
               {
                  "name":"bbBoxpoints.swLat",
                  "in":"query",
                  "required":true,
                  "type":"number",
                  "format":"double"
               },
               {
                  "name":"bbBoxpoints.swLon",
                  "in":"query",
                  "required":true,
                  "type":"number",
                  "format":"double"
               },
               {
                  "name":"bbBoxpoints.neLat",
                  "in":"query",
                  "required":true,
                  "type":"number",
                  "format":"double"
               },
               {
                  "name":"bbBoxpoints.neLon",
                  "in":"query",
                  "required":true,
                  "type":"number",
                  "format":"double"
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "type":"array",
                     "items":{
                        "$ref":"#/definitions/StopPoint"
                     }
                  }
               }
            },
            "deprecated":false
         }
      },
      "/Place/{type}/At/{Lat}/{Lon}":{
         "get":{
            "tags":[
               "Place"
            ],
            "summary":"Gets any places of the given type whose geography intersects the given latitude and longitude. In practice this means the Place\r\n            must be polygonal e.g. a BoroughBoundary.",
            "operationId":"Place_GetAt",
            "consumes":[

            ],
            "produces":[
               "application/json",
               "text/json",
               "application/xml",
               "text/xml"
            ],
            "parameters":[
               {
                  "name":"type",
                  "in":"path",
                  "description":"The place type (a valid list of place types can be obtained from the /Place/Meta/placeTypes endpoint)",
                  "required":true,
                  "type":"array",
                  "items":{
                     "type":"string"
                  }
               },
               {
                  "name":"lat",
                  "in":"query",
                  "required":true,
                  "type":"string"
               },
               {
                  "name":"lon",
                  "in":"query",
                  "required":true,
                  "type":"string"
               },
               {
                  "name":"location.lat",
                  "in":"query",
                  "required":true,
                  "type":"number",
                  "format":"double"
               },
               {
                  "name":"location.lon",
                  "in":"query",
                  "required":true,
                  "type":"number",
                  "format":"double"
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "$ref":"#/definitions/Object"
                  }
               }
            },
            "deprecated":false
         }
      },
      "/Place/{type}/overlay/{z}/{Lat}/{Lon}/{width}/{height}":{
         "get":{
            "tags":[
               "Place"
            ],
            "summary":"Gets the place overlay for a given set of co-ordinates and a given width/height.",
            "operationId":"Place_GetOverlay",
            "consumes":[

            ],
            "produces":[
               "application/json",
               "text/json",
               "application/xml",
               "text/xml"
            ],
            "parameters":[
               {
                  "name":"z",
                  "in":"path",
                  "description":"The zoom level",
                  "required":true,
                  "type":"integer",
                  "format":"int32"
               },
               {
                  "name":"type",
                  "in":"path",
                  "description":"The place type (a valid list of place types can be obtained from the /Place/Meta/placeTypes endpoint)",
                  "required":true,
                  "type":"array",
                  "items":{
                     "type":"string"
                  }
               },
               {
                  "name":"width",
                  "in":"path",
                  "description":"The width of the requested overlay.",
                  "required":true,
                  "type":"integer",
                  "format":"int32"
               },
               {
                  "name":"height",
                  "in":"path",
                  "description":"The height of the requested overlay.",
                  "required":true,
                  "type":"integer",
                  "format":"int32"
               },
               {
                  "name":"lat",
                  "in":"query",
                  "required":true,
                  "type":"string"
               },
               {
                  "name":"lon",
                  "in":"query",
                  "required":true,
                  "type":"string"
               },
               {
                  "name":"location.lat",
                  "in":"query",
                  "required":true,
                  "type":"number",
                  "format":"double"
               },
               {
                  "name":"location.lon",
                  "in":"query",
                  "required":true,
                  "type":"number",
                  "format":"double"
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "$ref":"#/definitions/Object"
                  }
               }
            },
            "deprecated":false
         }
      },
      "/Place/Search":{
         "get":{
            "tags":[
               "Place"
            ],
            "summary":"Gets all places that matches the given query",
            "operationId":"Place_Search",
            "consumes":[

            ],
            "produces":[
               "application/json",
               "text/json",
               "application/xml",
               "text/xml"
            ],
            "parameters":[
               {
                  "name":"name",
                  "in":"query",
                  "description":"The name of the place, you can use the /Place/Types/{types} endpoint to get a list of places for a given type including their names.",
                  "required":true,
                  "type":"string"
               },
               {
                  "name":"types",
                  "in":"query",
                  "description":"A comma-separated list of the types to return. Max. approx 12 types.",
                  "required":false,
                  "type":"array",
                  "items":{
                     "type":"string"
                  },
                  "collectionFormat":"multi"
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "type":"array",
                     "items":{
                        "$ref":"#/definitions/Place"
                     }
                  }
               }
            },
            "deprecated":false
         }
      },
      "/Road":{
         "get":{
            "tags":[
               "Road"
            ],
            "summary":"Gets all roads managed by TfL",
            "operationId":"getRoads",
            "consumes":[

            ],
            "produces":[
               "application/json",
               "text/json",
               "application/xml",
               "text/xml"
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "type":"array",
                     "items":{
                        "$ref":"#/definitions/RoadCorridor"
                     }
                  }
               }
            },
            "deprecated":false
         }
      },
      "/Road/{ids}":{
         "get":{
            "tags":[
               "Road"
            ],
            "summary":"Gets the road with the specified id (e.g. A1)",
            "operationId":"getRoad",
            "consumes":[

            ],
            "produces":[
               "application/json",
               "text/json",
               "application/xml",
               "text/xml"
            ],
            "parameters":[
               {
                  "name":"ids",
                  "in":"path",
                  "description":"Comma-separated list of road identifiers e.g. \"A406, A2\" (a full list of supported road identifiers can be found at the /Road/ endpoint)",
                  "required":true,
                  "type":"array",
                  "items":{
                     "type":"string"
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "type":"array",
                     "items":{
                        "$ref":"#/definitions/RoadCorridor"
                     }
                  }
               }
            },
            "deprecated":false
         }
      },
      "/Road/{ids}/Status":{
         "get":{
            "tags":[
               "Road"
            ],
            "summary":"Gets the specified roads with the status aggregated over the date range specified, or now until the end of today if no dates are passed.",
            "operationId":"Road_Status",
            "consumes":[

            ],
            "produces":[
               "application/json",
               "text/json",
               "application/xml",
               "text/xml"
            ],
            "parameters":[
               {
                  "name":"ids",
                  "in":"path",
                  "description":"Comma-separated list of road identifiers e.g. \"A406, A2\" or use \"all\" to ignore id filter (a full list of supported road identifiers can be found at the /Road/ endpoint)",
                  "required":true,
                  "type":"array",
                  "items":{
                     "type":"string"
                  }
               },
               {
                  "name":"dateRangeNullable.startDate",
                  "in":"query",
                  "required":false,
                  "type":"string",
                  "format":"date-time"
               },
               {
                  "name":"dateRangeNullable.endDate",
                  "in":"query",
                  "required":false,
                  "type":"string",
                  "format":"date-time"
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "type":"array",
                     "items":{
                        "$ref":"#/definitions/RoadCorridor"
                     }
                  }
               }
            },
            "deprecated":false
         }
      },
      "/Road/{ids}/Disruption":{
         "get":{
            "tags":[
               "Road"
            ],
            "summary":"Get active disruptions, filtered by road ids",
            "operationId":"Road_Disruption",
            "consumes":[

            ],
            "produces":[
               "application/json",
               "text/json",
               "application/xml",
               "text/xml",
               "application/geo+json"
            ],
            "parameters":[
               {
                  "name":"ids",
                  "in":"path",
                  "description":"Comma-separated list of road identifiers e.g. \"A406, A2\" use all for all to ignore id filter (a full list of supported road identifiers can be found at the /Road/ endpoint)",
                  "required":true,
                  "type":"array",
                  "items":{
                     "type":"string"
                  }
               },
               {
                  "name":"stripContent",
                  "in":"query",
                  "description":"Optional, defaults to false. When true, removes every property/node except for id, point, severity, severityDescription, startDate, endDate, corridor details, location, comments and streets",
                  "required":false,
                  "type":"boolean"
               },
               {
                  "name":"severities",
                  "in":"query",
                  "description":"an optional list of Severity names to filter on (a valid list of severities can be obtained from the /Road/Meta/severities endpoint)",
                  "required":false,
                  "type":"array",
                  "items":{
                     "type":"string"
                  },
                  "collectionFormat":"multi"
               },
               {
                  "name":"categories",
                  "in":"query",
                  "description":"an optional list of category names to filter on (a valid list of categories can be obtained from the /Road/Meta/categories endpoint)",
                  "required":false,
                  "type":"array",
                  "items":{
                     "type":"string"
                  },
                  "collectionFormat":"multi"
               },
               {
                  "name":"closures",
                  "in":"query",
                  "description":"Optional, defaults to true. When true, always includes disruptions that have road closures, regardless of the severity filter. When false, the severity filter works as normal.",
                  "required":false,
                  "type":"boolean"
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "type":"array",
                     "items":{
                        "$ref":"#/definitions/RoadDisruption"
                     }
                  }
               }
            },
            "deprecated":false
         }
      },
      "/Road/all/Street/Disruption":{
         "get":{
            "tags":[
               "Road"
            ],
            "summary":"Gets a list of disrupted streets. If no date filters are provided, current disruptions are returned.",
            "operationId":"Road_DisruptedStreets",
            "consumes":[

            ],
            "produces":[
               "application/json",
               "text/json",
               "application/xml",
               "text/xml"
            ],
            "parameters":[
               {
                  "name":"startDate",
                  "in":"query",
                  "description":"Optional, the start time to filter on.",
                  "required":true,
                  "type":"string",
                  "format":"date-time"
               },
               {
                  "name":"endDate",
                  "in":"query",
                  "description":"Optional, The end time to filter on.",
                  "required":true,
                  "type":"string",
                  "format":"date-time"
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "$ref":"#/definitions/Object"
                  }
               }
            },
            "deprecated":false
         }
      },
      "/Road/all/Disruption/{disruptionIds}":{
         "get":{
            "tags":[
               "Road"
            ],
            "summary":"Gets a list of active disruptions filtered by disruption Ids.",
            "operationId":"Road_DisruptionById",
            "consumes":[

            ],
            "produces":[
               "application/json",
               "text/json",
               "application/xml",
               "text/xml",
               "application/geo+json"
            ],
            "parameters":[
               {
                  "name":"disruptionIds",
                  "in":"path",
                  "description":"Comma-separated list of disruption identifiers to filter by.",
                  "required":true,
                  "type":"array",
                  "items":{
                     "type":"string"
                  }
               },
               {
                  "name":"stripContent",
                  "in":"query",
                  "description":"Optional, defaults to false. When true, removes every property/node except for id, point, severity, severityDescription, startDate, endDate, corridor details, location and comments.",
                  "required":false,
                  "type":"boolean"
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "$ref":"#/definitions/RoadDisruption"
                  }
               }
            },
            "deprecated":false
         }
      },
      "/Road/Meta/Categories":{
         "get":{
            "tags":[
               "Road"
            ],
            "summary":"Gets a list of valid RoadDisruption categories",
            "operationId":"Road_MetaCategories",
            "consumes":[

            ],
            "produces":[
               "application/json",
               "text/json",
               "application/xml",
               "text/xml"
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "type":"array",
                     "items":{
                        "type":"string"
                     }
                  }
               }
            },
            "deprecated":false
         }
      },
      "/Road/Meta/Severities":{
         "get":{
            "tags":[
               "Road"
            ],
            "summary":"Gets a list of valid RoadDisruption severity codes",
            "operationId":"Road_MetaSeverities",
            "consumes":[

            ],
            "produces":[
               "application/json",
               "text/json",
               "application/xml",
               "text/xml"
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "type":"array",
                     "items":{
                        "$ref":"#/definitions/StatusSeverity"
                     }
                  }
               }
            },
            "deprecated":false
         }
      },
      "/Search":{
         "get":{
            "tags":[
               "Search"
            ],
            "summary":"Search the site for occurrences of the query string. The maximum number of results returned is equal to the maximum page size\r\n            of 100. To return subsequent pages, use the paginated overload.",
            "operationId":"Search_Get",
            "consumes":[

            ],
            "produces":[
               "application/json",
               "text/json",
               "application/xml",
               "text/xml"
            ],
            "parameters":[
               {
                  "name":"query",
                  "in":"query",
                  "description":"The search query",
                  "required":true,
                  "type":"string"
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "$ref":"#/definitions/SearchResponse"
                  }
               }
            },
            "deprecated":false
         }
      },
      "/Search/BusSchedules":{
         "get":{
            "tags":[
               "Search"
            ],
            "summary":"Searches the bus schedules folder on S3 for a given bus number.",
            "operationId":"Search_BusSchedules",
            "consumes":[

            ],
            "produces":[
               "application/json",
               "text/json",
               "application/xml",
               "text/xml"
            ],
            "parameters":[
               {
                  "name":"query",
                  "in":"query",
                  "description":"The search query",
                  "required":true,
                  "type":"string"
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "$ref":"#/definitions/SearchResponse"
                  }
               }
            },
            "deprecated":false
         }
      },
      "/Search/Meta/SearchProviders":{
         "get":{
            "tags":[
               "Search"
            ],
            "summary":"Gets the available searchProvider names.",
            "operationId":"Search_MetaSearchProviders",
            "consumes":[

            ],
            "produces":[
               "application/json",
               "text/json",
               "application/xml",
               "text/xml"
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "type":"array",
                     "items":{
                        "type":"string"
                     }
                  }
               }
            },
            "deprecated":false
         }
      },
      "/Search/Meta/Categories":{
         "get":{
            "tags":[
               "Search"
            ],
            "summary":"Gets the available search categories.",
            "operationId":"Search_MetaCategories",
            "consumes":[

            ],
            "produces":[
               "application/json",
               "text/json",
               "application/xml",
               "text/xml"
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "type":"array",
                     "items":{
                        "type":"string"
                     }
                  }
               }
            },
            "deprecated":false
         }
      },
      "/Search/Meta/Sorts":{
         "get":{
            "tags":[
               "Search"
            ],
            "summary":"Gets the available sorting options.",
            "operationId":"Search_MetaSorts",
            "consumes":[

            ],
            "produces":[
               "application/json",
               "text/json",
               "application/xml",
               "text/xml"
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "type":"array",
                     "items":{
                        "type":"string"
                     }
                  }
               }
            },
            "deprecated":false
         }
      },
      "/StopPoint/Meta/Categories":{
         "get":{
            "tags":[
               "StopPoint"
            ],
            "summary":"Gets the list of available StopPoint additional information categories",
            "operationId":"StopPoint_MetaCategories",
            "consumes":[

            ],
            "produces":[
               "application/json",
               "text/json",
               "application/xml",
               "text/xml"
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "type":"array",
                     "items":{
                        "$ref":"#/definitions/StopPointCategory"
                     }
                  }
               }
            },
            "deprecated":false
         }
      },
      "/StopPoint/Meta/StopTypes":{
         "get":{
            "tags":[
               "StopPoint"
            ],
            "summary":"Gets the list of available StopPoint types",
            "operationId":"StopPoint_MetaStopTypes",
            "consumes":[

            ],
            "produces":[
               "application/json",
               "text/json",
               "application/xml",
               "text/xml"
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "type":"array",
                     "items":{
                        "type":"string"
                     }
                  }
               }
            },
            "deprecated":false
         }
      },
      "/StopPoint/Meta/Modes":{
         "get":{
            "tags":[
               "StopPoint"
            ],
            "summary":"Gets the list of available StopPoint modes",
            "operationId":"StopPoint_MetaModes",
            "consumes":[

            ],
            "produces":[
               "application/json",
               "text/json",
               "application/xml",
               "text/xml"
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "type":"array",
                     "items":{
                        "$ref":"#/definitions/Mode"
                     }
                  }
               }
            },
            "deprecated":false
         }
      },
      "/StopPoint/{ids}":{
         "get":{
            "tags":[
               "StopPoint"
            ],
            "summary":"Gets a list of StopPoints corresponding to the given list of stop ids.",
            "operationId":"StopPoint_Get",
            "consumes":[

            ],
            "produces":[
               "application/json",
               "text/json",
               "application/xml",
               "text/xml"
            ],
            "parameters":[
               {
                  "name":"ids",
                  "in":"path",
                  "description":"A comma-separated list of stop point ids (station naptan code e.g. 940GZZLUASL). Max. approx. 20 ids.\r\n            You can use /StopPoint/Search/{query} endpoint to find a stop point id from a station name.",
                  "required":true,
                  "type":"array",
                  "items":{
                     "type":"string"
                  }
               },
               {
                  "name":"includeCrowdingData",
                  "in":"query",
                  "description":"Include the crowding data (static). To Filter further use: /StopPoint/{ids}/Crowding/{line}",
                  "required":false,
                  "type":"boolean"
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "type":"array",
                     "items":{
                        "$ref":"#/definitions/StopPoint"
                     }
                  }
               }
            },
            "deprecated":false
         }
      },
      "/StopPoint/{id}/Crowding/{line}":{
         "get":{
            "tags":[
               "StopPoint"
            ],
            "summary":"Gets all the Crowding data (static) for the StopPointId, plus crowding data for a given line and optionally a particular direction.",
            "operationId":"StopPoint_Crowding",
            "consumes":[

            ],
            "produces":[
               "application/json",
               "text/json",
               "application/xml",
               "text/xml"
            ],
            "parameters":[
               {
                  "name":"id",
                  "in":"path",
                  "description":"The Naptan id of the stop",
                  "required":true,
                  "type":"string"
               },
               {
                  "name":"line",
                  "in":"path",
                  "description":"A particular line e.g. victoria, circle, northern etc.",
                  "required":true,
                  "type":"string"
               },
               {
                  "name":"direction",
                  "in":"query",
                  "description":"The direction of travel. Can be inbound or outbound.",
                  "required":true,
                  "type":"string",
                  "enum":[
                     "inbound",
                     "outbound",
                     "all"
                  ]
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "type":"array",
                     "items":{
                        "$ref":"#/definitions/StopPoint"
                     }
                  }
               }
            },
            "deprecated":false
         }
      },
      "/StopPoint/Type/{types}":{
         "get":{
            "tags":[
               "StopPoint"
            ],
            "summary":"Gets all stop points of a given type",
            "operationId":"StopPoint_GetByType",
            "consumes":[

            ],
            "produces":[
               "application/json",
               "text/json",
               "application/xml",
               "text/xml"
            ],
            "parameters":[
               {
                  "name":"types",
                  "in":"path",
                  "description":"A comma-separated list of the types to return. Max. approx. 12 types. \r\n            A list of valid stop types can be obtained from the StopPoint/meta/stoptypes endpoint.",
                  "required":true,
                  "type":"array",
                  "items":{
                     "type":"string"
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "type":"array",
                     "items":{
                        "$ref":"#/definitions/StopPoint"
                     }
                  }
               }
            },
            "deprecated":false
         }
      },
      "/StopPoint/ServiceTypes":{
         "get":{
            "tags":[
               "StopPoint"
            ],
            "summary":"Gets the service types for a given stoppoint",
            "operationId":"StopPoint_GetServiceTypes",
            "consumes":[

            ],
            "produces":[
               "application/json",
               "text/json",
               "application/xml",
               "text/xml"
            ],
            "parameters":[
               {
                  "name":"id",
                  "in":"query",
                  "description":"The Naptan id of the stop",
                  "required":true,
                  "type":"string"
               },
               {
                  "name":"lineIds",
                  "in":"query",
                  "description":"The lines which contain the given Naptan id (all lines relevant to the given stoppoint if empty)",
                  "required":false,
                  "type":"array",
                  "items":{
                     "type":"string"
                  },
                  "collectionFormat":"multi"
               },
               {
                  "name":"modes",
                  "in":"query",
                  "description":"The modes which the lines are relevant to (all if empty)",
                  "required":false,
                  "type":"array",
                  "items":{
                     "type":"string"
                  },
                  "collectionFormat":"multi"
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "type":"array",
                     "items":{
                        "$ref":"#/definitions/LineServiceType"
                     }
                  }
               }
            },
            "deprecated":false
         }
      },
      "/StopPoint/{id}/Arrivals":{
         "get":{
            "tags":[
               "StopPoint"
            ],
            "summary":"Gets the list of arrival predictions for the given stop point id",
            "operationId":"StopPoint_Arrivals",
            "consumes":[

            ],
            "produces":[
               "application/json",
               "text/json",
               "application/xml",
               "text/xml"
            ],
            "parameters":[
               {
                  "name":"id",
                  "in":"path",
                  "description":"A StopPoint id (station naptan code e.g. 940GZZLUASL, you can use /StopPoint/Search/{query} endpoint to find a stop point id from a station name)",
                  "required":true,
                  "type":"string"
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "type":"array",
                     "items":{
                        "$ref":"#/definitions/Prediction"
                     }
                  }
               }
            },
            "deprecated":false
         }
      },
      "/StopPoint/{id}/CanReachOnLine/{lineId}":{
         "get":{
            "tags":[
               "StopPoint"
            ],
            "summary":"Gets Stopoints that are reachable from a station/line combination.",
            "operationId":"StopPoint_ReachableFrom",
            "consumes":[

            ],
            "produces":[
               "application/json",
               "text/json",
               "application/xml",
               "text/xml"
            ],
            "parameters":[
               {
                  "name":"id",
                  "in":"path",
                  "description":"The id (station naptan code e.g. 940GZZLUASL, you can use /StopPoint/Search/{query} endpoint to find a stop point id from a station name) of the stop point to filter by",
                  "required":true,
                  "type":"string"
               },
               {
                  "name":"lineId",
                  "in":"path",
                  "description":"Line id of the line to filter by (e.g. victoria)",
                  "required":true,
                  "type":"string"
               },
               {
                  "name":"serviceTypes",
                  "in":"query",
                  "description":"A comma-separated list of service types to filter on. If not specified. Supported values: Regular, Night. Defaulted to 'Regular' if not specified",
                  "required":false,
                  "type":"array",
                  "items":{
                     "type":"string",
                     "enum":[
                        "Regular",
                        "Night"
                     ]
                  },
                  "collectionFormat":"multi"
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "type":"array",
                     "items":{
                        "$ref":"#/definitions/StopPoint"
                     }
                  }
               }
            },
            "deprecated":false
         }
      },
      "/StopPoint/{id}/Route":{
         "get":{
            "tags":[
               "StopPoint"
            ],
[...]
