{
  "openapi" : "3.0.1",

  "x-important" : "IMPORTANT:  This OpenAPI Specification is only for use in accordance with the terms of the Apple Developer Program License Agreement and terms for the use of the App Store Connect API.  You may not use this OpenAPI Specification unless you have agreed to the Apple Developer Program License Agreement, and You acknowledge and agree that the App Store Connect API (and use of this Specification in connection therewith) is for internal development, testing and reporting purposes within your team and not to provide services to any third parties or for any other use.",
  
  
  "externalDocs" : {
    "description": "App Store Connect API Documentation",
    "url": "https://developer.apple.com/documentation/appstoreconnectapi"
  },
  
  
  "info" : {
    "title" : "App Store Connect API",
    "version" : "1.2",
    "x-platform" : "app_store_connect_api"
  },


  "servers" : [ {
    "url" : "https://api.appstoreconnect.apple.com/"
  } ],
  "paths" : {
    "/v1/ageRatingDeclarations/{id}" : {
      "patch" : {
        "tags" : [ "AgeRatingDeclarations" ],
        "operationId" : "ageRatingDeclarations-update_instance",
        "requestBody" : {
          "description" : "AgeRatingDeclaration representation",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AgeRatingDeclarationUpdateRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "400" : {
            "description" : "Parameter error(s)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200" : {
            "description" : "Single AgeRatingDeclaration",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AgeRatingDeclarationResponse"
                }
              }
            }
          },
          "409" : {
            "description" : "Request entity error(s)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "description" : "the id of the requested resource",
        "schema" : {
          "type" : "string"
        },
        "style" : "simple",
        "required" : true
      } ]
    },
    "/v1/appCategories" : {
      "get" : {
        "tags" : [ "AppCategories" ],
        "operationId" : "appCategories-get_collection",
        "parameters" : [ {
          "name" : "filter[platforms]",
          "in" : "query",
          "description" : "filter by attribute 'platforms'",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "IOS", "MAC_OS", "TV_OS" ]
            }
          },
          "style" : "form",
          "explode" : false,
          "required" : false
        }, {
          "name" : "exists[parent]",
          "in" : "query",
          "description" : "filter by existence or non-existence of related 'parent'",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "style" : "form",
          "explode" : false,
          "required" : false
        }, {
          "name" : "fields[appCategories]",
          "in" : "query",
          "description" : "the fields to include for returned resources of type appCategories",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "parent", "platforms", "subcategories" ]
            }
          },
          "style" : "form",
          "explode" : false,
          "required" : false
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "maximum resources per page",
          "schema" : {
            "type" : "integer",
            "maximum" : 200
          },
          "style" : "form"
        }, {
          "name" : "include",
          "in" : "query",
          "description" : "comma-separated list of relationships to include",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "parent", "subcategories" ]
            }
          },
          "style" : "form",
          "explode" : false,
          "required" : false
        }, {
          "name" : "limit[subcategories]",
          "in" : "query",
          "description" : "maximum number of related subcategories returned (when they are included)",
          "schema" : {
            "type" : "integer",
            "maximum" : 50
          },
          "style" : "form",
          "required" : false
        } ],
        "responses" : {
          "400" : {
            "description" : "Parameter error(s)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200" : {
            "description" : "List of AppCategories",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AppCategoriesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/appCategories/{id}" : {
      "get" : {
        "tags" : [ "AppCategories" ],
        "operationId" : "appCategories-get_instance",
        "parameters" : [ {
          "name" : "fields[appCategories]",
          "in" : "query",
          "description" : "the fields to include for returned resources of type appCategories",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "parent", "platforms", "subcategories" ]
            }
          },
          "style" : "form",
          "explode" : false,
          "required" : false
        }, {
          "name" : "include",
          "in" : "query",
          "description" : "comma-separated list of relationships to include",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "parent", "subcategories" ]
            }
          },
          "style" : "form",
          "explode" : false,
          "required" : false
        }, {
          "name" : "limit[subcategories]",
          "in" : "query",
          "description" : "maximum number of related subcategories returned (when they are included)",
          "schema" : {
            "type" : "integer",
            "maximum" : 50
          },
          "style" : "form",
          "required" : false
        } ],
        "responses" : {
          "400" : {
            "description" : "Parameter error(s)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200" : {
            "description" : "Single AppCategory",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AppCategoryResponse"
                }
              }
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "description" : "the id of the requested resource",
        "schema" : {
          "type" : "string"
        },
        "style" : "simple",
        "required" : true
      } ]
    },
    "/v1/appEncryptionDeclarations" : {
      "get" : {
        "tags" : [ "AppEncryptionDeclarations" ],
        "operationId" : "appEncryptionDeclarations-get_collection",
        "parameters" : [ {
          "name" : "filter[platform]",
          "in" : "query",
          "description" : "filter by attribute 'platform'",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "IOS", "MAC_OS", "TV_OS" ]
            }
          },
          "style" : "form",
          "explode" : false,
          "required" : false
        }, {
          "name" : "filter[app]",
          "in" : "query",
          "description" : "filter by id(s) of related 'app'",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "style" : "form",
          "explode" : false,
          "required" : false
        }, {
          "name" : "filter[builds]",
          "in" : "query",
          "description" : "filter by id(s) of related 'builds'",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "style" : "form",
          "explode" : false,
          "required" : false
        }, {
          "name" : "fields[appEncryptionDeclarations]",
          "in" : "query",
          "description" : "the fields to include for returned resources of type appEncryptionDeclarations",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "app", "appEncryptionDeclarationState", "availableOnFrenchStore", "builds", "codeValue", "containsProprietaryCryptography", "containsThirdPartyCryptography", "documentName", "documentType", "documentUrl", "exempt", "platform", "uploadedDate", "usesEncryption" ]
            }
          },
          "style" : "form",
          "explode" : false,
          "required" : false
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "maximum resources per page",
          "schema" : {
            "type" : "integer",
            "maximum" : 200
          },
          "style" : "form"
        }, {
          "name" : "include",
          "in" : "query",
          "description" : "comma-separated list of relationships to include",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "app" ]
            }
          },
          "style" : "form",
          "explode" : false,
          "required" : false
        }, {
          "name" : "fields[apps]",
          "in" : "query",
          "description" : "the fields to include for returned resources of type apps",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "appInfos", "appStoreVersions", "availableInNewTerritories", "availableTerritories", "betaAppLocalizations", "betaAppReviewDetail", "betaGroups", "betaLicenseAgreement", "betaTesters", "builds", "bundleId", "contentRightsDeclaration", "endUserLicenseAgreement", "gameCenterEnabledVersions", "inAppPurchases", "isOrEverWasMadeForKids", "name", "perfPowerMetrics", "preOrder", "preReleaseVersions", "prices", "primaryLocale", "sku" ]
            }
          },
          "style" : "form",
          "explode" : false,
          "required" : false
        } ],
        "responses" : {
          "400" : {
            "description" : "Parameter error(s)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200" : {
            "description" : "List of AppEncryptionDeclarations",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AppEncryptionDeclarationsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/appEncryptionDeclarations/{id}" : {
      "get" : {
        "tags" : [ "AppEncryptionDeclarations" ],
        "operationId" : "appEncryptionDeclarations-get_instance",
        "parameters" : [ {
          "name" : "fields[appEncryptionDeclarations]",
          "in" : "query",
          "description" : "the fields to include for returned resources of type appEncryptionDeclarations",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "app", "appEncryptionDeclarationState", "availableOnFrenchStore", "builds", "codeValue", "containsProprietaryCryptography", "containsThirdPartyCryptography", "documentName", "documentType", "documentUrl", "exempt", "platform", "uploadedDate", "usesEncryption" ]
            }
          },
          "style" : "form",
          "explode" : false,
          "required" : false
        }, {
          "name" : "include",
          "in" : "query",
          "description" : "comma-separated list of relationships to include",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "app" ]
            }
          },
          "style" : "form",
          "explode" : false,
          "required" : false
        }, {
          "name" : "fields[apps]",
          "in" : "query",
          "description" : "the fields to include for returned resources of type apps",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "appInfos", "appStoreVersions", "availableInNewTerritories", "availableTerritories", "betaAppLocalizations", "betaAppReviewDetail", "betaGroups", "betaLicenseAgreement", "betaTesters", "builds", "bundleId", "contentRightsDeclaration", "endUserLicenseAgreement", "gameCenterEnabledVersions", "inAppPurchases", "isOrEverWasMadeForKids", "name", "perfPowerMetrics", "preOrder", "preReleaseVersions", "prices", "primaryLocale", "sku" ]
            }
          },
          "style" : "form",
          "explode" : false,
          "required" : false
        } ],
        "responses" : {
          "400" : {
            "description" : "Parameter error(s)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200" : {
            "description" : "Single AppEncryptionDeclaration",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AppEncryptionDeclarationResponse"
                }
              }
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "description" : "the id of the requested resource",
        "schema" : {
          "type" : "string"
        },
        "style" : "simple",
        "required" : true
      } ]
    },
    "/v1/appInfoLocalizations" : {
      "post" : {
        "tags" : [ "AppInfoLocalizations" ],
        "operationId" : "appInfoLocalizations-create_instance",
        "requestBody" : {
          "description" : "AppInfoLocalization representation",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AppInfoLocalizationCreateRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "400" : {
            "description" : "Parameter error(s)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "201" : {
            "description" : "Single AppInfoLocalization",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AppInfoLocalizationResponse"
                }
              }
            }
          },
          "409" : {
            "description" : "Request entity error(s)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/appInfoLocalizations/{id}" : {
      "get" : {
        "tags" : [ "AppInfoLocalizations" ],
        "operationId" : "appInfoLocalizations-get_instance",
        "parameters" : [ {
          "name" : "fields[appInfoLocalizations]",
          "in" : "query",
          "description" : "the fields to include for returned resources of type appInfoLocalizations",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "appInfo", "locale", "name", "privacyPolicyText", "privacyPolicyUrl", "subtitle" ]
            }
          },
          "style" : "form",
          "explode" : false,
          "required" : false
        }, {
          "name" : "include",
          "in" : "query",
          "description" : "comma-separated list of relationships to include",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "appInfo" ]
            }
          },
          "style" : "form",
          "explode" : false,
          "required" : false
        } ],
        "responses" : {
          "400" : {
            "description" : "Parameter error(s)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200" : {
            "description" : "Single AppInfoLocalization",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AppInfoLocalizationResponse"
                }
              }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "AppInfoLocalizations" ],
        "operationId" : "appInfoLocalizations-update_instance",
        "requestBody" : {
          "description" : "AppInfoLocalization representation",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AppInfoLocalizationUpdateRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "400" : {
            "description" : "Parameter error(s)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200" : {
            "description" : "Single AppInfoLocalization",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AppInfoLocalizationResponse"
                }
              }
            }
          },
          "409" : {
            "description" : "Request entity error(s)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "AppInfoLocalizations" ],
        "operationId" : "appInfoLocalizations-delete_instance",
        "responses" : {
          "400" : {
            "description" : "Parameter error(s)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409" : {
            "description" : "Request entity error(s)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "204" : {
            "description" : "Success (no content)"
          }
        }
      },
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "description" : "the id of the requested resource",
        "schema" : {
          "type" : "string"
        },
        "style" : "simple",
        "required" : true
      } ]
    },
    "/v1/appInfos/{id}" : {
      "get" : {
        "tags" : [ "AppInfos" ],
        "operationId" : "appInfos-get_instance",
        "parameters" : [ {
          "name" : "fields[appInfos]",
          "in" : "query",
          "description" : "the fields to include for returned resources of type appInfos",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "app", "appInfoLocalizations", "appStoreAgeRating", "appStoreState", "brazilAgeRating", "kidsAgeBand", "primaryCategory", "primarySubcategoryOne", "primarySubcategoryTwo", "secondaryCategory", "secondarySubcategoryOne", "secondarySubcategoryTwo" ]
            }
          },
          "style" : "form",
          "explode" : false,
          "required" : false
        }, {
          "name" : "include",
          "in" : "query",
          "description" : "comma-separated list of relationships to include",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "app", "appInfoLocalizations", "primaryCategory", "primarySubcategoryOne", "primarySubcategoryTwo", "secondaryCategory", "secondarySubcategoryOne", "secondarySubcategoryTwo" ]
            }
          },
          "style" : "form",
          "explode" : false,
          "required" : false
        }, {
          "name" : "fields[appCategories]",
          "in" : "query",
          "description" : "the fields to include for returned resources of type appCategories",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "parent", "platforms", "subcategories" ]
            }
          },
          "style" : "form",
          "explode" : false,
          "required" : false
        }, {
          "name" : "fields[appInfoLocalizations]",
          "in" : "query",
          "description" : "the fields to include for returned resources of type appInfoLocalizations",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "appInfo", "locale", "name", "privacyPolicyText", "privacyPolicyUrl", "subtitle" ]
            }
          },
          "style" : "form",
          "explode" : false,
          "required" : false
        }, {
          "name" : "limit[appInfoLocalizations]",
          "in" : "query",
          "description" : "maximum number of related appInfoLocalizations returned (when they are included)",
          "schema" : {
            "type" : "integer",
            "maximum" : 50
          },
          "style" : "form",
          "required" : false
        } ],
        "responses" : {
          "400" : {
            "description" : "Parameter error(s)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200" : {
            "description" : "Single AppInfo",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AppInfoResponse"
                }
              }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "AppInfos" ],
        "operationId" : "appInfos-update_instance",
        "requestBody" : {
          "description" : "AppInfo representation",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AppInfoUpdateRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "400" : {
            "description" : "Parameter error(s)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200" : {
            "description" : "Single AppInfo",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AppInfoResponse"
                }
              }
            }
          },
          "409" : {
            "description" : "Request entity error(s)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "description" : "the id of the requested resource",
        "schema" : {
          "type" : "string"
        },
        "style" : "simple",
        "required" : true
      } ]
    },
    "/v1/appPreOrders" : {
      "post" : {
        "tags" : [ "AppPreOrders" ],
        "operationId" : "appPreOrders-create_instance",
        "requestBody" : {
          "description" : "AppPreOrder representation",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AppPreOrderCreateRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "400" : {
            "description" : "Parameter error(s)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "201" : {
            "description" : "Single AppPreOrder",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AppPreOrderResponse"
                }
              }
            }
          },
          "409" : {
            "description" : "Request entity error(s)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/appPreOrders/{id}" : {
      "get" : {
        "tags" : [ "AppPreOrders" ],
        "operationId" : "appPreOrders-get_instance",
        "parameters" : [ {
          "name" : "fields[appPreOrders]",
          "in" : "query",
          "description" : "the fields to include for returned resources of type appPreOrders",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "app", "appReleaseDate", "preOrderAvailableDate" ]
            }
          },
          "style" : "form",
          "explode" : false,
          "required" : false
        }, {
          "name" : "include",
          "in" : "query",
          "description" : "comma-separated list of relationships to include",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "app" ]
            }
          },
          "style" : "form",
          "explode" : false,
          "required" : false
        } ],
        "responses" : {
          "400" : {
            "description" : "Parameter error(s)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200" : {
            "description" : "Single AppPreOrder",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AppPreOrderResponse"
                }
              }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "AppPreOrders" ],
        "operationId" : "appPreOrders-update_instance",
        "requestBody" : {
          "description" : "AppPreOrder representation",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AppPreOrderUpdateRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "400" : {
            "description" : "Parameter error(s)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200" : {
            "description" : "Single AppPreOrder",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AppPreOrderResponse"
                }
              }
            }
          },
          "409" : {
            "description" : "Request entity error(s)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "AppPreOrders" ],
        "operationId" : "appPreOrders-delete_instance",
        "responses" : {
          "400" : {
            "description" : "Parameter error(s)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409" : {
            "description" : "Request entity error(s)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "204" : {
            "description" : "Success (no content)"
          }
        }
      },
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "description" : "the id of the requested resource",
        "schema" : {
          "type" : "string"
        },
        "style" : "simple",
        "required" : true
      } ]
    },
    "/v1/appPreviewSets" : {
      "post" : {
        "tags" : [ "AppPreviewSets" ],
        "operationId" : "appPreviewSets-create_instance",
        "requestBody" : {
          "description" : "AppPreviewSet representation",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AppPreviewSetCreateRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "400" : {
            "description" : "Parameter error(s)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "201" : {
            "description" : "Single AppPreviewSet",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AppPreviewSetResponse"
                }
              }
            }
          },
          "409" : {
            "description" : "Request entity error(s)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/appPreviewSets/{id}" : {
      "get" : {
        "tags" : [ "AppPreviewSets" ],
        "operationId" : "appPreviewSets-get_instance",
        "parameters" : [ {
          "name" : "fields[appPreviewSets]",
          "in" : "query",
          "description" : "the fields to include for returned resources of type appPreviewSets",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "appPreviews", "appStoreVersionLocalization", "previewType" ]
            }
          },
          "style" : "form",
          "explode" : false,
          "required" : false
        }, {
          "name" : "include",
          "in" : "query",
          "description" : "comma-separated list of relationships to include",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "appPreviews", "appStoreVersionLocalization" ]
            }
          },
          "style" : "form",
          "explode" : false,
          "required" : false
        }, {
          "name" : "fields[appPreviews]",
          "in" : "query",
          "description" : "the fields to include for returned resources of type appPreviews",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "appPreviewSet", "assetDeliveryState", "fileName", "fileSize", "mimeType", "previewFrameTimeCode", "previewImage", "sourceFileChecksum", "uploadOperations", "uploaded", "videoUrl" ]
            }
          },
          "style" : "form",
          "explode" : false,
          "required" : false
        }, {
          "name" : "limit[appPreviews]",
          "in" : "query",
          "description" : "maximum number of related appPreviews returned (when they are included)",
          "schema" : {
            "type" : "integer",
            "maximum" : 50
          },
          "style" : "form",
          "required" : false
        } ],
        "responses" : {
          "400" : {
            "description" : "Parameter error(s)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200" : {
            "description" : "Single AppPreviewSet",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AppPreviewSetResponse"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "AppPreviewSets" ],
        "operationId" : "appPreviewSets-delete_instance",
        "responses" : {
          "400" : {
            "description" : "Parameter error(s)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409" : {
            "description" : "Request entity error(s)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "204" : {
            "description" : "Success (no content)"
          }
        }
      },
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "description" : "the id of the requested resource",
        "schema" : {
          "type" : "string"
        },
        "style" : "simple",
        "required" : true
      } ]
    },
    "/v1/appPreviews" : {
      "post" : {
        "tags" : [ "AppPreviews" ],
        "operationId" : "appPreviews-create_instance",
        "requestBody" : {
          "description" : "AppPreview representation",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AppPreviewCreateRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "400" : {
            "description" : "Parameter error(s)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "201" : {
            "description" : "Single AppPreview",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AppPreviewResponse"
                }
              }
            }
          },
          "409" : {
            "description" : "Request entity error(s)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/appPreviews/{id}" : {
      "get" : {
        "tags" : [ "AppPreviews" ],
        "operationId" : "appPreviews-get_instance",
        "parameters" : [ {
          "name" : "fields[appPreviews]",
          "in" : "query",
          "description" : "the fields to include for returned resources of type appPreviews",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "appPreviewSet", "assetDeliveryState", "fileName", "fileSize", "mimeType", "previewFrameTimeCode", "previewImage", "sourceFileChecksum", "uploadOperations", "uploaded", "videoUrl" ]
            }
          },
          "style" : "form",
          "explode" : false,
          "required" : false
        }, {
          "name" : "include",
          "in" : "query",
          "description" : "comma-separated list of relationships to include",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "appPreviewSet" ]
            }
          },
          "style" : "form",
          "explode" : false,
          "required" : false
        } ],
        "responses" : {
          "400" : {
            "description" : "Parameter error(s)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200" : {
            "description" : "Single AppPreview",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AppPreviewResponse"
                }
              }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "AppPreviews" ],
        "operationId" : "appPreviews-update_instance",
        "requestBody" : {
          "description" : "AppPreview representation",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AppPreviewUpdateRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "400" : {
            "description" : "Parameter error(s)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200" : {
            "description" : "Single AppPreview",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AppPreviewResponse"
                }
              }
            }
          },
          "409" : {
            "description" : "Request entity error(s)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "AppPreviews" ],
        "operationId" : "appPreviews-delete_instance",
        "responses" : {
          "400" : {
            "description" : "Parameter error(s)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409" : {
            "description" : "Request entity error(s)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "204" : {
            "description" : "Success (no content)"
          }
        }
      },
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "description" : "the id of the requested resource",
        "schema" : {
          "type" : "string"
        },
        "style" : "simple",
        "required" : true
      } ]
    },
    "/v1/appPricePoints" : {
      "get" : {
        "tags" : [ "AppPricePoints" ],
        "operationId" : "appPricePoints-get_collection",
        "parameters" : [ {
          "name" : "filter[priceTier]",
          "in" : "query",
          "description" : "filter by id(s) of related 'priceTier'",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "style" : "form",
          "explode" : false,
          "required" : false
        }, {
          "name" : "filter[territory]",
          "in" : "query",
          "description" : "filter by id(s) of related 'territory'",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "style" : "form",
          "explode" : false,
          "required" : false
        }, {
          "name" : "fields[appPricePoints]",
          "in" : "query",
          "description" : "the fields to include for returned resources of type appPricePoints",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "customerPrice", "priceTier", "proceeds", "territory" ]
            }
          },
          "style" : "form",
          "explode" : false,
          "required" : false
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "maximum resources per page",
          "schema" : {
            "type" : "integer",
            "maximum" : 200
          },
          "style" : "form"
        }, {
          "name" : "include",
          "in" : "query",
          "description" : "comma-separated list of relationships to include",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "priceTier", "territory" ]
            }
          },
          "style" : "form",
          "explode" : false,
          "required" : false
        }, {
          "name" : "fields[territories]",
          "in" : "query",
          "description" : "the fields to include for returned resources of type territories",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "currency" ]
            }
          },
          "style" : "form",
          "explode" : false,
          "required" : false
        } ],
        "responses" : {
          "400" : {
            "description" : "Parameter error(s)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200" : {
            "description" : "List of AppPricePoints",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AppPricePointsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/appPricePoints/{id}" : {
      "get" : {
        "tags" : [ "AppPricePoints" ],
        "operationId" : "appPricePoints-get_instance",
        "parameters" : [ {
          "name" : "fields[appPricePoints]",
          "in" : "query",
          "description" : "the fields to include for returned resources of type appPricePoints",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "customerPrice", "priceTier", "proceeds", "territory" ]
            }
          },
          "style" : "form",
          "explode" : false,
          "required" : false
        }, {
          "name" : "include",
          "in" : "query",
          "description" : "comma-separated list of relationships to include",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "priceTier", "territory" ]
            }
          },
          "style" : "form",
          "explode" : false,
          "required" : false
        }, {
          "name" : "fields[territories]",
          "in" : "query",
          "description" : "the fields to include for returned resources of type territories",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "currency" ]
            }
          },
          "style" : "form",
          "explode" : false,
          "required" : false
        } ],
        "responses" : {
          "400" : {
            "description" : "Parameter error(s)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200" : {
            "description" : "Single AppPricePoint",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AppPricePointResponse"
                }
              }
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "description" : "the id of the requested resource",
        "schema" : {
          "type" : "string"
        },
        "style" : "simple",
        "required" : true
      } ]
    },
    "/v1/appPriceTiers" : {
      "get" : {
        "tags" : [ "AppPriceTiers" ],
        "operationId" : "appPriceTiers-get_collection",
        "parameters" : [ {
          "name" : "filter[id]",
          "in" : "query",
          "description" : "filter by id(s)",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "style" : "form",
          "explode" : false,
          "required" : false
        }, {
          "name" : "fields[appPriceTiers]",
          "in" : "query",
          "description" : "the fields to include for returned resources of type appPriceTiers",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "pricePoints" ]
            }
          },
          "style" : "form",
          "explode" : false,
          "required" : false
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "maximum resources per page",
          "schema" : {
            "type" : "integer",
            "maximum" : 200
          },
          "style" : "form"
        }, {
          "name" : "include",
          "in" : "query",
          "description" : "comma-separated list of relationships to include",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "pricePoints" ]
            }
          },
          "style" : "form",
          "explode" : false,
          "required" : false
        }, {
          "name" : "fields[appPricePoints]",
          "in" : "query",
          "description" : "the fields to include for returned resources of type appPricePoints",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "customerPrice", "priceTier", "proceeds", "territory" ]
            }
          },
          "style" : "form",
          "explode" : false,
          "required" : false
        }, {
          "name" : "limit[pricePoints]",
          "in" : "query",
          "description" : "maximum number of related pricePoints returned (when they are included)",
          "schema" : {
            "type" : "integer",
            "maximum" : 50
          },
          "style" : "form",
          "required" : false
        } ],
        "responses" : {
          "400" : {
            "description" : "Parameter error(s)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200" : {
            "description" : "List of AppPriceTiers",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AppPriceTiersResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/appPriceTiers/{id}" : {
      "get" : {
        "tags" : [ "AppPriceTiers" ],
        "operationId" : "appPriceTiers-get_instance",
        "parameters" : [ {
          "name" : "fields[appPriceTiers]",
          "in" : "query",
          "description" : "the fields to include for returned resources of type appPriceTiers",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "pricePoints" ]
            }
          },
          "style" : "form",
          "explode" : false,
          "required" : false
        }, {
          "name" : "include",
          "in" : "query",
          "description" : "comma-separated list of relationships to include",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "pricePoints" ]
            }
          },
          "style" : "form",
          "explode" : false,
          "required" : false
        }, {
          "name" : "fields[appPricePoints]",
          "in" : "query",
          "description" : "the fields to include for returned resources of type appPricePoints",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "customerPrice", "priceTier", "proceeds", "territory" ]
            }
          },
          "style" : "form",
          "explode" : false,
          "required" : false
        }, {
          "name" : "limit[pricePoints]",
          "in" : "query",
          "description" : "maximum number of related pricePoints returned (when they are included)",
          "schema" : {
            "type" : "integer",
            "maximum" : 50
          },
          "style" : "form",
          "required" : false
        } ],
        "responses" : {
          "400" : {
            "description" : "Parameter error(s)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200" : {
            "description" : "Single AppPriceTier",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AppPriceTierResponse"
                }
              }
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "description" : "the id of the requested resource",
        "schema" : {
          "type" : "string"
        },
        "style" : "simple",
        "required" : true
      } ]
    },
    "/v1/appPrices/{id}" : {
      "get" : {
        "tags" : [ "AppPrices" ],
        "operationId" : "appPrices-get_instance",
        "parameters" : [ {
          "name" : "fields[appPrices]",
          "in" : "query",
          "description" : "the fields to include for returned resources of type appPrices",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "app", "priceTier" ]
            }
          },
          "style" : "form",
          "explode" : false,
          "required" : false
        }, {
          "name" : "include",
          "in" : "query",
          "description" : "comma-separated list of relationships to include",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "app", "priceTier" ]
            }
          },
          "style" : "form",
          "explode" : false,
          "required" : false
        } ],
        "responses" : {
          "400" : {
            "description" : "Parameter error(s)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200" : {
            "description" : "Single AppPrice",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AppPriceResponse"
                }
              }
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "description" : "the id of the requested resource",
        "schema" : {
          "type" : "string"
        },
        "style" : "simple",
        "required" : true
      } ]
    },
    "/v1/appScreenshotSets" : {
      "post" : {
        "tags" : [ "AppScreenshotSets" ],
        "operationId" : "appScreenshotSets-create_instance",
        "requestBody" : {
          "description" : "AppScreenshotSet representation",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AppScreenshotSetCreateRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "400" : {
            "description" : "Parameter error(s)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "201" : {
            "description" : "Single AppScreenshotSet",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AppScreenshotSetResponse"
                }
              }
            }
          },
          "409" : {
            "description" : "Request entity error(s)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/appScreenshotSets/{id}" : {
      "get" : {
        "tags" : [ "AppScreenshotSets" ],
        "operationId" : "appScreenshotSets-get_instance",
        "parameters" : [ {
          "name" : "fields[appScreenshotSets]",
          "in" : "query",
          "description" : "the fields to include for returned resources of type appScreenshotSets",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "appScreenshots", "appStoreVersionLocalization", "screenshotDisplayType" ]
            }
          },
          "style" : "form",
          "explode" : false,
          "required" : false
        }, {
          "name" : "include",
          "in" : "query",
          "description" : "comma-separated list of relationships to include",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "appScreenshots", "appStoreVersionLocalization" ]
            }
          },
          "style" : "form",
          "explode" : false,
          "required" : false
        }, {
          "name" : "fields[appScreenshots]",
          "in" : "query",
          "description" : "the fields to include for returned resources of type appScreenshots",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "appScreenshotSet", "assetDeliveryState", "assetToken", "assetType", "fileName", "fileSize", "imageAsset", "sourceFileChecksum", "uploadOperations", "uploaded" ]
            }
          },
          "style" : "form",
          "explode" : false,
          "required" : false
        }, {
          "name" : "limit[appScreenshots]",
          "in" : "query",
          "description" : "maximum number of related appScreenshots returned (when they are included)",
          "schema" : {
            "type" : "integer",
            "maximum" : 50
          },
          "style" : "form",
          "required" : false
        } ],
        "responses" : {
          "400" : {
            "description" : "Parameter error(s)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200" : {
            "description" : "Single AppScreenshotSet",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AppScreenshotSetResponse"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "AppScreenshotSets" ],
        "operationId" : "appScreenshotSets-delete_instance",
        "responses" : {
          "400" : {
            "description" : "Parameter error(s)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409" : {
            "description" : "Request entity error(s)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "204" : {
            "description" : "Success (no content)"
          }
        }
      },
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "description" : "the id of the requested resource",
        "schema" : {
          "type" : "string"
        },
        "style" : "simple",
        "required" : true
      } ]
    },
    "/v1/appScreenshots" : {
      "post" : {
        "tags" : [ "AppScreenshots" ],
        "operationId" : "appScreenshots-create_instance",
        "requestBody" : {
          "description" : "AppScreenshot representation",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AppScreenshotCreateRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "400" : {
            "description" : "Parameter error(s)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "201" : {
            "description" : "Single AppScreenshot",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AppScreenshotResponse"
                }
              }
            }
          },
          "409" : {
            "description" : "Request entity error(s)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/appScreenshots/{id}" : {
      "get" : {
        "tags" : [ "AppScreenshots" ],
        "operationId" : "appScreenshots-get_instance",
        "parameters" : [ {
          "name" : "fields[appScreenshots]",
          "in" : "query",
          "description" : "the fields to include for returned resources of type appScreenshots",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "appScreenshotSet", "assetDeliveryState", "assetToken", "assetType", "fileName", "fileSize", "imageAsset", "sourceFileChecksum", "uploadOperations", "uploaded" ]
            }
          },
          "style" : "form",
          "explode" : false,
          "required" : false
        }, {
          "name" : "include",
          "in" : "query",
          "description" : "comma-separated list of relationships to include",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "appScreenshotSet" ]
            }
          },
          "style" : "form",
          "explode" : false,
          "required" : false
        } ],
        "responses" : {
          "400" : {
            "description" : "Parameter error(s)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200" : {
            "description" : "Single AppScreenshot",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AppScreenshotResponse"
                }
              }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "AppScreenshots" ],
        "operationId" : "appScreenshots-update_instance",
        "requestBody" : {
          "description" : "AppScreenshot representation",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AppScreenshotUpdateRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "400" : {
            "description" : "Parameter error(s)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200" : {
            "description" : "Single AppScreenshot",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AppScreenshotResponse"
                }
              }
            }
          },
          "409" : {
            "description" : "Request entity error(s)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "AppScreenshots" ],
        "operationId" : "appScreenshots-delete_instance",
        "responses" : {
          "400" : {
            "description" : "Parameter error(s)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409" : {
            "description" : "Request entity error(s)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "204" : {
            "description" : "Success (no content)"
          }
        }
      },
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "description" : "the id of the requested resource",
        "schema" : {
          "type" : "string"
        },
        "style" : "simple",
        "required" : true
      } ]
    },
    "/v1/appStoreReviewAttachments" : {
      "post" : {
        "tags" : [ "AppStoreReviewAttachments" ],
        "operationId" : "appStoreReviewAttachments-create_instance",
        "requestBody" : {
          "description" : "AppStoreReviewAttachment representation",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AppStoreReviewAttachmentCreateRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "400" : {
            "description" : "Parameter error(s)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "201" : {
            "description" : "Single AppStoreReviewAttachment",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AppStoreReviewAttachmentResponse"
                }
              }
            }
          },
          "409" : {
            "description" : "Request entity error(s)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/appStoreReviewAttachments/{id}" : {
      "get" : {
        "tags" : [ "AppStoreReviewAttachments" ],
        "operationId" : "appStoreReviewAttachments-get_instance",
        "parameters" : [ {
          "name" : "fields[appStoreReviewAttachments]",
          "in" : "query",
          "description" : "the fields to include for returned resources of type appStoreReviewAttachments",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "appStoreReviewDetail", "assetDeliveryState", "fileName", "fileSize", "sourceFileChecksum", "uploadOperations", "uploaded" ]
            }
          },
          "style" : "form",
          "explode" : false,
          "required" : false
        }, {
          "name" : "include",
          "in" : "query",
          "description" : "comma-separated list of relationships to include",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "appStoreReviewDetail" ]
            }
          },
          "style" : "form",
          "explode" : false,
          "required" : false
        } ],
        "responses" : {
          "400" : {
            "description" : "Parameter error(s)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200" : {
            "description" : "Single AppStoreReviewAttachment",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AppStoreReviewAttachmentResponse"
                }
              }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "AppStoreReviewAttachments" ],
        "operationId" : "appStoreReviewAttachments-update_instance",
        "requestBody" : {
          "description" : "AppStoreReviewAttachment representation",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AppStoreReviewAttachmentUpdateRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "400" : {
            "description" : "Parameter error(s)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200" : {
            "description" : "Single AppStoreReviewAttachment",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AppStoreReviewAttachmentResponse"
                }
              }
            }
          },
          "409" : {
            "description" : "Request entity error(s)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "AppStoreReviewAttachments" ],
        "operationId" : "appStoreReviewAttachments-delete_instance",
        "responses" : {
          "400" : {
            "description" : "Parameter error(s)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409" : {
            "description" : "Request entity error(s)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "204" : {
            "description" : "Success (no content)"
          }
        }
      },
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "description" : "the id of the requested resource",
        "schema" : {
          "type" : "string"
        },
        "style" : "simple",
        "required" : true
      } ]
    },
    "/v1/appStoreReviewDetails" : {
      "post" : {
        "tags" : [ "AppStoreReviewDetails" ],
        "operationId" : "appStoreReviewDetails-create_instance",
        "requestBody" : {
          "description" : "AppStoreReviewDetail representation",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AppStoreReviewDetailCreateRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "400" : {
            "description" : "Parameter error(s)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "201" : {
            "description" : "Single AppStoreReviewDetail",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AppStoreReviewDetailResponse"
                }
              }
            }
          },
          "409" : {
            "description" : "Request entity error(s)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/appStoreReviewDetails/{id}" : {
      "get" : {
        "tags" : [ "AppStoreReviewDetails" ],
        "operationId" : "appStoreReviewDetails-get_instance",
        "parameters" : [ {
          "name" : "fields[appStoreReviewDetails]",
          "in" : "query",
          "description" : "the fields to include for returned resources of type appStoreReviewDetails",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "appStoreReviewAttachments", "appStoreVersion", "contactEmail", "contactFirstName", "contactLastName", "contactPhone", "demoAccountName", "demoAccountPassword", "demoAccountRequired", "notes" ]
            }
          },
          "style" : "form",
          "explode" : false,
          "required" : false
        }, {
          "name" : "include",
          "in" : "query",
          "description" : "comma-separated list of relationships to include",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "appStoreReviewAttachments", "appStoreVersion" ]
            }
          },
          "style" : "form",
          "explode" : false,
          "required" : false
        }, {
          "name" : "fields[appStoreReviewAttachments]",
          "in" : "query",
          "description" : "the fields to include for returned resources of type appStoreReviewAttachments",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "appStoreReviewDetail", "assetDeliveryState", "fileName", "fileSize", "sourceFileChecksum", "uploadOperations", "uploaded" ]
            }
          },
          "style" : "form",
          "explode" : false,
          "required" : false
        }, {
          "name" : "limit[appStoreReviewAttachments]",
          "in" : "query",
          "description" : "maximum number of related appStoreReviewAttachments returned (when they are included)",
          "schema" : {
            "type" : "integer",
            "maximum" : 50
          },
          "style" : "form",
          "required" : false
        } ],
        "responses" : {
          "400" : {
            "description" : "Parameter error(s)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200" : {
            "description" : "Single AppStoreReviewDetail",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AppStoreReviewDetailResponse"
                }
              }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "AppStoreReviewDetails" ],
        "operationId" : "appStoreReviewDetails-update_instance",
        "requestBody" : {
          "description" : "AppStoreReviewDetail representation",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AppStoreReviewDetailUpdateRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "400" : {
            "description" : "Parameter error(s)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200" : {
            "description" : "Single AppStoreReviewDetail",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AppStoreReviewDetailResponse"
                }
              }
            }
          },
          "409" : {
            "description" : "Request entity error(s)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "id",
        "in" : "path",
        "description" : "the id of the requested resource",
        "schema" : {
          "type" : "string"
        },
        "style" : "simple",
        "required" : true
      } ]
    },
    "/v1/appStoreVersionLocalizations" : {
      "post" : {
        "tags" : [ "AppStoreVersionLocalizations" ],
        "operationId" : "appStoreVersionLocalizations-create_instance",
        "requestBody" : {
          "description" : "AppStoreVersionLocalization representation",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AppStoreVersionLocalizationCreateRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "400" : {
            "description" : "Parameter error(s)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "201" : {
            "description" : "Single AppStoreVersionLocalization",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AppStoreVersionLocalizationResponse"
                }
              }
            }
          },
          "409" : {
            "description" : "Request entity error(s)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/appStoreVersionLocalizations/{id}" : {
      "get" : {
        "tags" : [ "AppStoreVersionLocalizations" ],
        "operationId" : "appStoreVersionLocalizations-get_instance",
        "parameters" : [ {
          "name" : "fields[appStoreVersionLocalizations]",
          "in" : "query",
[...]
